<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{includes/meta :: meta}" />

<title>About</title>
	<div th:replace="~{includes/styles :: styles}" />

</head>
<body>
	<div th:replace="~{includes/header :: header}" />

	<div class="container" role="main">

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
<h1>Willkommen auf Grazious!</h1>

<p>...der neuen lokalen Dating-App in Graz! Hier kannst du Singles aus deiner Region nach deinen Vorlieben kennen lernen.

				Wir sind 3 junge Studenten, die es satt haben auf Tinder, Lovoo, etc…. nur Anfragen von irgendwelchen Leuten aus Oberösterreich, Wien oder gar Deutschland zu bekommen. Um nicht länger unsere Zeit damit zu verschwenden, haben wir uns entschlossen unsere eigene Dating-Site zu machen – speziell für unsere schöne Stadt Graz!
Die wichtigsten Infos: Du kannst in der Suche andere Singles nach deinen Vorlieben suchen und im Nachrichtencenter mit Ihnen in Kontakt treten. Alles Weitere ergibt sich dann von selbst!
Viel Spaß auf Grazious wünschen Gerhard, Marvin und Verena!</p>
				

				<!--table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th>Bild</th>
							<th>Name</th>
							<th>Aufgabenbereich</th>
							<th>Kurzvorstellung</th>
						</tr>
					</thead>
					<tbody>
							<tr>
							<td>-</td>
							<td>Gerhard Lambrecht</td>
							<td>Design, Bier</td>
							<td>-folgt-</td>
							</tr>
							<tr>
							<td>-</td>
							<td>Verena Leifert</td>
							<td>Datenbank, Essen</td>
							<td>-folgt-</td>
							</tr>
							<tr>
							<td>-</td>
							<td>Marvin Tandler</td>
							<td>Java, Kaffee</td>
							<td>-folgt-</td>
							</tr>
					</tbody>
				</table>-->
			</div>
		</div>
	</div>
	<div th:replace="~{includes/footer :: footer}" />
	<div th:replace="~{includes/scripts :: scripts}" /></body>
</html>
