<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{includes/meta :: meta}" />

<title>Impressum</title>
	<div th:replace="~{includes/styles :: styles}" />

</head>
<body>
	<div th:replace="~{includes/header :: header}" />

	<div class="container" role="main">

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
<h1>Impressum</h1>

Autoren: Gerhard Lambrecht, Verena Leifert, Marvin Tandler<br>
Erstellt: SS2018<br>
Projektbetreuung: Johann Blauensteiner, Stefan Krausler-Baumann<br>
Es handelt sich hierbei um ein Projekt im Rahmen der Lehrveranstaltung Software Engineering Advanced (SWENGA) der FH Joanneum Graz am Bachelorstudiengang Informationsmanagement.<br>

<br><br>Fachhochschule JOANNEUM GmbH<br>
Alte Poststraße 147<br>
A-8020 Graz<br>
				

				<!--table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th>Bild</th>
							<th>Name</th>
							<th>Aufgabenbereich</th>
							<th>Kurzvorstellung</th>
						</tr>
					</thead>
					<tbody>
							<tr>
							<td>-</td>
							<td>Gerhard Lambrecht</td>
							<td>Design, Bier</td>
							<td>-folgt-</td>
							</tr>
							<tr>
							<td>-</td>
							<td>Verena Leifert</td>
							<td>Datenbank, Essen</td>
							<td>-folgt-</td>
							</tr>
							<tr>
							<td>-</td>
							<td>Marvin Tandler</td>
							<td>Java, Kaffee</td>
							<td>-folgt-</td>
							</tr>
					</tbody>
				</table>-->
			</div>
		</div>
	</div>
	<div th:replace="~{includes/footer :: footer}" />
	<div th:replace="~{includes/scripts :: scripts}" /></body>
</html>
