<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Willkommen bei Grazious</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<nav th:replace="~{includes/searchNav :: search}"></nav>

	<!--  1 simple button ----------------------------------------------------------- -->
	<div class="row"></div>
	<!--  1 simple button ----------------------------------------------------------- -->

	<h1>Willkommen bei Grazious</h1>
	<div class="container" role="main">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<form th:action="@{/login}" method="post">
					<h2 class="form-signin-heading">Einloggen</h2>

					<div th:if="${param.error}" class="alert alert-danger">Invalid
						username and password.</div>

					<div th:if="${param.logout}" class="alert alert-success">You
						have been logged out.</div>

					<label for="inputName class="sr-only">UserName</label> <input
						type="text" id="un" class="form-control" placeholder="Username"
						required autofocus name="username"> <label
						for="inputPassword" class="sr-only">Password</label>
					<h2 class="form-signin-heading">TOTO PASSWORD VERGESSEN</h2>
					<input type="password" id="pwd" class="form-control"
						placeholder="Password" required name="password">
					<button class="btn btn-lg btn-primary btn-block" type="submit">
						Log-In</button>
				</form>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<form th:action="@{/register}" method="post">
					<h2 class="form-signin-heading">Registrieren</h2>
					<button class="btn btn-lg btn-primary btn-block" type="submit">
						Registrieren</button>
				</form>




			</div>
		</div>
		
		<div class="login_wrapper">
				<section class="login_content">
					<form th:action="@{/login}" method="post">					
						<h1>Einloggen</h1>
						<div th:if="${param.error}" class="alert alert-danger">
							Benutzername oder Passwort falsch.</div>
						<div th:if="${param.logout}" class="alert alert-success">
							Sie wurden erfolgreich ausgeloggt.</div>
						<div>
							<input type="text" id="un" class="form-control"
								placeholder="Benutzername" required autofocus name="un" />
						</div>
						<div>
							<input type="password" id="pwd" class="form-control"
								placeholder="Passwort" required name="pwd" />
						</div>
						<div>
							<button class="btn button-main" type="submit">Einloggen</button>
							//<a class="reset_pass" href="mailto:admin@feuerwehr.at?subject=FireFighters Passwort vergessen" style="margin-top:0px">Passwort vergessen?</a>
						</div>

						<div class="clearfix"></div>

						<div class="separator">
							<p class="change_link">
								Interessiert? <a th:href="@{/registration}" class="to_register" style="margin:0">Registrieren Sie sich!</a>
							</p>

							<div class="clearfix"></div>
							<br />

							<div>
								<h1>Project Firefighters</h1>
								<p class="change_link"><a href="mailto:admin@feuerwehr.at?subject=FireFighters Anfrage" style="margin:0">Kontakt</a> | <a th:href="@{/impressum_login}" style="margin:0">Impressum</a></p>
								<p>&copy; 2017 Alle Rechte vorbehalten.</p>
							</div>
						</div>
					</form>
				</section>
		</div>
		<!--  End of container -->
</body>
</html>