.form-group.inline {
    display: inline-block;
}

.form-group.inline > label {
    display: block;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.sidebar {
    position: absolute;
    width: 250px;
}

.results {
    margin-left: 270px;
}

.form-control.half {
    width: 49%;
    display: inline-block;
}







.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #f8f8f8;
  color: #000;
  margin-bottom: 20px;
}

.card .content {
    margin: 20px 0 30px;
}

.card .header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  z-index: 1;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}
