<nav th:fragment="header" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Grazious</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Über</a></li>
        <li><a href="#">Team</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      	<li sec:authorize="isAuthenticated()"><a th:href="@{/chat/}" class="navbar-icon"><i class="fa fa-comments"></i><span class="sr-only"> Benachrichtigungen</span></a></li>
        <li sec:authorize="isAuthenticated()"><a href="#" class="navbar-icon"><i class="fa fa-search"></i><span class="sr-only"> Suchen</span></a></li>
        <li class="dropdown" sec:authorize="isAuthenticated()">
          <a href="#" class="dropdown-toggle userpic" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span>[[${user.firstName}]] [[${user.lastName}]]</span>
            <img th:src="@{${user.getProfilePhotoPath()}}" />
          </a>
          <ul class="dropdown-menu">
            <li><a th:href="@{'/user/' + ${user.userId}}"><i class="fa fa-user"></i> Profil ansehen</a></li>
            <li><a th:href="@{/user/update/}"><i class="fa fa-pencil"></i> Profil bearbeiten</a></li>
            <li role="separator" class="divider"></li>
            <li><a th:href="@{/logout}"><i class="fa fa-sign-out"></i> Abmelden</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>